
<%- include("./includes/head") %>

<body>

    <%- include("./includes/header") %>
<main> 
    <% if (locals.info) { %> 
        <% if (info.length > 0) { %>
           <section class="section-movie-li">
               <ul>
            <% info.forEach(movie => { %>
                
                <li>
                    <a href="/movie/<%= movie.id %> "> 
                    <span>
                        <%= movie.id %> 
                    </span>
                    <span>
                        <%= movie.title %> 
                    </span>
                    </a>
                    <div class="div-boton-borrar"><form action="movie/delete/<%= movie.id %>"  method="post">
                        <button class="boton-delete1" type="submit" id="button">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form></div>
            </li>
                        
            <% }) %>
        </ul></section>
        <% } else { %>
            <h2> No hay pelicula</h2>
        <% } %>
        <% } else { %>
            <h2> No hay pelicula</h2>
   <% } %>
</main>
</body>
</html>